lennar_demo:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: "{{ env_var('SNOWFLAKE_ACCOUNT') }}"
      user: "{{ env_var('SNOWFLAKE_USER') }}"
      password: "{{ env_var('SNOWFLAKE_PASSWORD') }}"
      role: "{{ env_var('SNOWFLAKE_ROLE', 'ACCOUNTADMIN') }}"
      database: LENNAR_DEMO
      warehouse: "{{ env_var('SNOWFLAKE_WAREHOUSE', 'LENNAR_DEMO_WH') }}"
      schema: DBT
      threads: 4
      client_session_keep_alive: false
