SNOWFLAKE_ACCOUNT=your_account_identifier
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
# Or use:
# SNOWFLAKE_AUTHENTICATOR=externalbrowser
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=SF_LENNAR_PYTHON_DEMO_WH
SNOWFLAKE_DATABASE=SF_LENNAR_PYTHON_DEMO
